<div class="container" id="signup">
  <h2>Sign Up</h2>
  <form name="signup">
    <ul>
      <li>
        <label for="email">Email Address:</label>
        <input ng-model="email" id="email" type="email" placeholder="Enter Email" required></input>
      </li>
      <li>
        <label for="password">Password:</label>
        <input ng-model="password" id="password" type="password" placeholder="*********" required></input>
      </li>
      <li>
        <button ng-click="signUp()">Sign Up</button>
      </li>
    </ul>
  </form>

  <br>
  <a ui-sref="login">Already a user?  Login here...</a>
</div>
