<div class="container">
   <div class="row">
     <div class="col-md-6">
       <h2>Repositories Scanned</h2>
       <p>Oh…yeah…the guy in the…the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. Come on! Speaking of settling, how's Ann? He's a regular Freddie Wilson, that one.</p>
     </div>

     <div class="col-md-6">
       <h2>API Keys Recovered</h2>
       <p>I mean, it's one banana, Michael. What could it cost, ten dollars? It's sort of like going from prime rib to… I don't know… weird brother of prime rib. I hear the jury's still out on science. <strong>Check out banner, Michael!</strong></p>
     </div>
   </div>
</div>
